<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNationsLabel" jhiTranslate="jhipsterCdmApp.nations.home.createOrEditLabel">Create or edit a Nations</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!nations.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="nations.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterCdmApp.nations.nation" for="field_nation">Nation</label>
            <input type="text" class="form-control" name="nation" id="field_nation"
                [(ngModel)]="nations.nation" required/>
            <div [hidden]="!(editForm.controls.nation?.dirty && editForm.controls.nation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterCdmApp.nations.confederation" for="field_confederation">Confederation</label>
            <input type="text" class="form-control" name="confederation" id="field_confederation"
                [(ngModel)]="nations.confederation" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterCdmApp.nations.fifa" for="field_fifa">Fifa</label>
            <input type="number" class="form-control" name="fifa" id="field_fifa"
                [(ngModel)]="nations.fifa" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterCdmApp.nations.cdm" for="field_cdm">Cdm</label>
            <input type="number" class="form-control" name="cdm" id="field_cdm"
                [(ngModel)]="nations.cdm" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterCdmApp.nations.groupe" for="field_groupe">Groupe</label>
            <select class="form-control" name="groupe" [(ngModel)]="nations.groupe" id="field_groupe" >
                <option value="A">{{'jhipsterCdmApp.Groupes.A' | translate}}</option>
                <option value="B">{{'jhipsterCdmApp.Groupes.B' | translate}}</option>
                <option value="C">{{'jhipsterCdmApp.Groupes.C' | translate}}</option>
                <option value="D">{{'jhipsterCdmApp.Groupes.D' | translate}}</option>
                <option value="E">{{'jhipsterCdmApp.Groupes.E' | translate}}</option>
                <option value="F">{{'jhipsterCdmApp.Groupes.F' | translate}}</option>
                <option value="G">{{'jhipsterCdmApp.Groupes.G' | translate}}</option>
                <option value="H">{{'jhipsterCdmApp.Groupes.H' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
