<div>
    <h2>
        <span jhiTranslate="jhipsterCdmApp.nations.home.title">Nations</span>
        <button class="btn btn-primary float-right jh-create-entity create-nations-cdm" [routerLink]="['/', { outlets: { popup: ['nations-cdm-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterCdmApp.nations.home.createLabel">
            Create new Nations
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="nations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nation"><span jhiTranslate="jhipsterCdmApp.nations.nation">Nation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="confederation"><span jhiTranslate="jhipsterCdmApp.nations.confederation">Confederation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fifa"><span jhiTranslate="jhipsterCdmApp.nations.fifa">Fifa</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cdm"><span jhiTranslate="jhipsterCdmApp.nations.cdm">Cdm</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="groupe"><span jhiTranslate="jhipsterCdmApp.nations.groupe">Groupe</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let nations of nations ;trackBy: trackId">
                <td><a [routerLink]="['../nations-cdm', nations.id ]">{{nations.id}}</a></td>
                <td>{{nations.nation}}</td>
                <td>{{nations.confederation}}</td>
                <td>{{nations.fifa}}</td>
                <td>{{nations.cdm}}</td>
                <td jhiTranslate="{{'jhipsterCdmApp.Groupes.' + nations.groupe}}">{{nations.groupe}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../nations-cdm', nations.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nations-cdm/'+ nations.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nations-cdm/'+ nations.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
