<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myResultatsLabel" jhiTranslate="jhipsterCdmApp.resultats.home.createOrEditLabel">Create or edit a Resultats</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!resultats.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="resultats.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterCdmApp.resultats.but" for="field_but">But</label>
            <input type="number" class="form-control" name="but" id="field_but"
                [(ngModel)]="resultats.but" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterCdmApp.resultats.tab" for="field_tab">Tab</label>
            <input type="number" class="form-control" name="tab" id="field_tab"
                [(ngModel)]="resultats.tab" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterCdmApp.resultats.jaune" for="field_jaune">Jaune</label>
            <input type="number" class="form-control" name="jaune" id="field_jaune"
                [(ngModel)]="resultats.jaune" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterCdmApp.resultats.rouge" for="field_rouge">Rouge</label>
            <input type="number" class="form-control" name="rouge" id="field_rouge"
                [(ngModel)]="resultats.rouge" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterCdmApp.resultats.domicile" for="field_domicile">Domicile</label>
            <input type="checkbox" class="form-control" name="domicile" id="field_domicile"
                [(ngModel)]="resultats.domicile" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterCdmApp.resultats.nations" for="field_nations">Nations</label>
            <select class="form-control" id="field_nations" name="nations" [(ngModel)]="resultats.nationsId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="nationsOption.id" *ngFor="let nationsOption of nations; trackBy: trackNationsById">{{nationsOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterCdmApp.resultats.matchs" for="field_matchs">Matchs</label>
            <select class="form-control" id="field_matchs" name="matchs" [(ngModel)]="resultats.matchsId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="matchsOption.id" *ngFor="let matchsOption of matchs; trackBy: trackMatchsById">{{matchsOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
