<div>
    <h2>
        <span jhiTranslate="jhipsterCdmApp.paris.home.title">Parises</span>
        <button class="btn btn-primary float-right jh-create-entity create-paris-cdm" [routerLink]="['/', { outlets: { popup: ['paris-cdm-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterCdmApp.paris.home.createLabel">
            Create new Paris
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="parises">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="but"><span jhiTranslate="jhipsterCdmApp.paris.but">But</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jocker"><span jhiTranslate="jhipsterCdmApp.paris.jocker">Jocker</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="point"><span jhiTranslate="jhipsterCdmApp.paris.point">Point</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="joueursId"><span jhiTranslate="jhipsterCdmApp.paris.joueurs">Joueurs</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idparisId"><span jhiTranslate="jhipsterCdmApp.paris.idparis">Idparis</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paris of parises ;trackBy: trackId">
                <td><a [routerLink]="['../paris-cdm', paris.id ]">{{paris.id}}</a></td>
                <td>{{paris.but}}</td>
                <td>{{paris.jocker}}</td>
                <td>{{paris.point}}</td>
                <td>
                    <div *ngIf="paris.joueursId">
                        <a [routerLink]="['../joueurs-cdm', paris.joueursId  ]" >{{paris.joueursId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="paris.idparisId">
                        <a [routerLink]="['../resultats-cdm', paris.idparisId  ]" >{{paris.idparisId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../paris-cdm', paris.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'paris-cdm/'+ paris.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'paris-cdm/'+ paris.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="parises && parises.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
